<%- include('partials/header2') %>
<div class="row " style="justify-content: center;">
<div class="col-lg-6">
    <div class="card" style="width: 18rem; margin-left: 300px;  margin-top: 100px;">
        <img src="https://media.istockphoto.com/id/1357456299/zh/向量/city-cleaning-service-design-elements.jpg?s=612x612&w=is&k=20&c=5ZK5NTYbwnlTcq3z5Tj6d99cWHQJiJFLihQS_lTmsd4=" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/transportated" class="btn btn-primary" style="background-color: green; margin-left: 20px; margin-left: 54px;">Check Request for Transportation</a>
        </div>
      </div>
</div>

<div class="col-lg-6" style="justify-content: center;">
    <div class="card" style="width: 18rem; margin-left: 20px;  margin-top: 100px;">
        <img src="https://t3.ftcdn.net/jpg/03/83/87/32/240_F_383873280_LCuiRaGOQluoA3S2ka6OGox5lyFmGrmR.jpg" class="card-img-top" alt="...">
        <div class="card-body" >
         
          <a href="/segregated" class="btn btn-primary" style="background-color: green; margin-left: 74px;">Check Request for Segregation</a>
        </div>
      </div>
</div>

<div style="height: 50px;"></div>

<div class="col-lg-6">
    <div class="card" style="width: 18rem; margin-left: 300px;">
        <img src="https://t3.ftcdn.net/jpg/04/47/01/22/240_F_447012208_tzFoDLWv6kvPvBCVZ7DOeSnQq1mQ4Kpv.jpg" class="card-img-top" alt="...">
        <div class="card-body">
         
          <a href="/collected" class="btn btn-primary" style="background-color: green; margin-top: 45px; margin-left: 72px;">Check Request for Collection</a>
        </div>
      </div>
</div>

<div class="col-lg-6">
    <div class="card" style="width: 18rem;">
        <img src="https://t3.ftcdn.net/jpg/05/14/97/06/240_F_514970688_nQ28IImYbmo1xcTEyr7zgvPkK74sv9fP.jpg" class="card-img-top" alt="...">
        <div class="card-body">
         
          <a href="/disposed" class="btn btn-primary" style="background-color: green; margin-left: 85px;">Check Request for Disposal</a>
        </div>
      </div>
</div>


</div>
<%- include('partials/footer') %>