<%- include('partials/header5') %>

<div class="" style="height: 100px;"></div>

<div class="jumbotron jumbotron-fluid su">
  <div class="container">
    <h1 class="display-4 text-center">OOOOPS!!</h1>
    <p class="lead text-center" ><%=error%> </p>
    <p class="text-center" style="font-family: ubuntu;font-weight: lighter; font-size: medium;white-space: pre-line; text-transform: capitalize;"><%=message%></p>
   
    
  
    
  </div>
</div>


<%- include('partials/footer') %>





