<%- include('partials/header') %>


 <!-- ======= Hero Section ======= -->
 <section id="hero" style="height: 700px; background-image:url(../img/hero.jpg) ;">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
     <h1 class="mb-4 pb-0"> <br><br><span><img style="height: 57px; width: 57px;" src="https://media.istockphoto.com/id/1134301581/vector/trash-can-mascot-with-thumbs-up.jpg?s=612x612&w=is&k=20&c=HM3kMUv5Qkvj4a1NgsPRsbweoWP_ykf-NJq-v8BqBho=" alt="iamge-dustbin"> Waste Manager</span><br> <br> Lets Contribute to a Greener Society  </h1>
    <p class="mb-4 pb-0"> </p>
      <p  class="mb-4 pb-0"  style="font-size:x-large;"> <br>  </p>
     
   
    <a target="_blank"  href="/typesOfWaste" class="about-btn scrollto" >Step ahead to a Greener Society</a>
  </div>
</section>
<!-- End Hero Section -->

<div style="height: 20px;"></div>

  <%- include('partials/footer') %>