<%-include('partials/header2')%>


<div id="conatainer" style="width: 100%;">


    <section id="about">
        <div class="section-header" style="margin-top: 100px;">
            <h2 style="font-size: 56px;">Important Dates</h2>
        </div>
        <div class="container text-center" style="font-weight: bolder; font-size: 36px;" data-aos="fade-up">

            <p style="font-size: 28px; margin-bottom: -2px;"> Last date for early bird registration
                &nbsp;&nbsp;&nbsp;&nbsp;<br> 30<sup>th</sup> April 2022</p>
            <marquee bgcolor="transparent" style="color:red;width:500px;" onmouseover="this.stop()"
                onmouseout="this.start()"">
                                                <p style=" color: red; font-weight: bolder;"> <span
                    class="badge bg-danger">*Update*</span> * Early bird registration is now "Closed"  *
                </p>
            </marquee>
            <p style="font-size: 28px; margin-bottom: -2px;">Last date for Abstract Submission
                &nbsp;&nbsp;&nbsp;&nbsp;<br> 10<sup>th</sup> May 2022</p>
            <marquee bgcolor="transparent" style="color:red;width:500px;" onmouseover="this.stop()"
                onmouseout="this.start()"">
                                                <p style=" color: red; font-weight: bolder;"> <span
                    class="badge bg-danger">*Update*</span> * Last date for Abstract Submission is now extended
                till&nbsp; 31<sup>st</sup> July 2022 *</p>
            </marquee>
            <p style="font-size: 28px; margin-bottom: -2px;">Acceptance of Abstract &nbsp;&nbsp;&nbsp;&nbsp; <br>up to
                30<sup>th</sup> May, 2022 </p>
            <marquee bgcolor="transparent" style="color:red;width:500px;" onmouseover="this.stop()"
                onmouseout="this.start()"">
                                                <p style=" color: red; font-weight: bolder;"> <span
                    class="badge bg-danger">*Update*</span> * Acceptance of Abstract is now extended till&nbsp;
                10<sup>th</sup> August 2022 *</p>
            </marquee>
            <p style="font-size: 28px;">Full paper submission &nbsp;&nbsp;&nbsp;&nbsp;<br> up to 30<sup>th</sup>
                September, 2022
                ( after the conference)</p>

        </div>


    </section>
    <div class="">
        <h3 class="text-center" style="margin-top: 20px;">Registration fee details: </h3>
        <div class="text-center">
            <span class="text-center" style="color: red; ">
                * Plenary/Invited Speakers are free from charges <br>

            </span>

            <span class="text-center" style="color: red; ">
                * Registration fee is inclusive of 18% GST. In case of fee refund, GST charges will not be refunded.

            </span>
        </div>


    </div>


    <div class="container" style="width: 100%;">
        <table class="text-center" border="5px" style="width: auto; margin: auto;" bordercolor="">

            <tr>
                <td style="padding-top: 75px;">From Academic/ <br>
                    Research Institutions</td>
                <td>
                    <table border="5px" bordercolor="white">
                        <h4 align="center" style="font-weight: bold;">Before 30th May 2022</h4>
                        <tr>

                            <td>Indians </td>
                            <td style="padding-left: 60px;">foreigners</td>

                        </tr>
                        <tr>
                            <td>Rs 3000</td>
                            <td style="padding-left: 21px;"> $ 150</td>
                        </tr>
                    </table>

                </td>
            </tr>




            <tr>
                <td style="padding-top: 0px;">From Industry</td>
                <td>
                    <table border="5px" bordercolor="white">

                        <tr>




                        </tr>
                        <tr>
                            <td>Rs 5000</td>
                            <td style="padding-left: 60px;"> $ 300</td>
                        </tr>
                    </table>

                </td>
            </tr>


            <tr>
                <td style="padding-top: 0px;">Students</td>
                <td>
                    <table border="5px" bordercolor="white">

                        <tr>




                        </tr>
                        <tr>
                            <td>Rs 2000</td>
                            <td style="padding-left: 60px;"> $ 100</td>
                        </tr>
                    </table>

                </td>
            </tr>


        </table>

        <div class="conatainer" style="height: 20px;"></div>
        <table border="5px" class="text-center" style="margin-top: 20px;  margin: auto;" bordercolor="">

            <tr>
                <td style="padding-top: 75px;">From Academic/ <br>
                    Research Institutions</td>
                <td>
                    <table border="5px" bordercolor="white">
                        <h4 align="center" style="font-weight: bold;">After 30th May 2022 &nbsp;&nbsp;</h4>
                        <tr>

                            <td>Indians </td>
                            <td style="padding-left: 60px;">foreigners</td>

                        </tr>
                        <tr>
                            <td>Rs 3500</td>
                            <td style="padding-left: 21px;"> $ 200</td>
                        </tr>
                    </table>

                </td>
            </tr>




            <tr>
                <td style="padding-top: 0px;">From Industry</td>
                <td>
                    <table border="5px" bordercolor="white">

                        <tr>




                        </tr>
                        <tr>
                            <td>Rs 6000</td>
                            <td style="padding-left: 60px;"> $ 350</td>
                        </tr>
                    </table>

                </td>
            </tr>


            <tr>
                <td style="padding-top:0px;">Students</td>
                <td>
                    <table border="5px" bordercolor="white">

                        <tr>




                        </tr>
                        <tr>
                            <td>Rs 2500</td>
                            <td style="padding-left: 60px;"> $ 150</td>
                        </tr>
                    </table>

                </td>
            </tr>


        </table>
    </div>







    <div class="text-center">
        <h3 class="text-center" style="margin-top: 20px;">Bank account details </h3>
        <p style="margin-left: 10px;">
            <span style="font-weight: bold;"> Bank Name :</span> ICICI Bank Ltd. <br>
            <span style="font-weight: bold;">Account No. : </span> 025405005815 <br>
            <span style="font-weight: bold;">Account Holder Name :</span> Sharda University-Seminar <br>
            <span style="font-weight: bold;">IFSC Code : </span> ICIC0000254 <br>
            <span style="font-weight: bold;"> SWIFT Code : </span> ICICINBBCTS <br>
            <span style="font-weight: bold;"> MICR Code : </span> 110229037 <br>
            <span style="font-weight: bold;">Address : </span> Alpha-1, Greater Noida







        </p>
    </div>


</div>
                              
                              <!-- background-size: cover;
                              overflow: hidden;
                              position: relative;
                              color: #fff;
                              padding: 60px 0 40px 0;
<%-include('partials/footer')%> -->
<%-include('partials/footer')%> 