<%- include('partials/header4') %>


<body background="images\image5.jpg">
 <header class="header">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
  <a href="mailto:keshriharsh123@gmail.com"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>
     <div class="right">
   
     <img src="images/image9.png" alt="">
     <div>Environment</div>
     </div>
 </header>
 <div class="Start">
    <figure>
    <img typeof="foaf:Image" src="images/image7.jpg" alt="" width="750" height="450">
    </figure>
    <h2>WASTE | RESOURCES</h2>
    <P>Modern life would be pretty much unthinkable without natural resources. Worldwide population and economic growth are putting increasing pressure on resources such as raw materials, land, and biodiversity. Hence using these resources more wisely and efficiently is sure to be a key skill set for future oriented societies.

       Our one of the main goals is to reduce resource use along with the environmental impact of such use as a whole and across the entire value chain. Against this backdrop, cutting back on waste and using it as a source of secondary raw materials and energy can make a significant contribution to resource conservation in the guise of resource friendly manufacturing processes, products and usage modalities.
        
        Sparing and efficient use of natural resources is crucial not only from an ecological standpoint, but is also a major economic and social challenge. Hence resource conservation and resource policy constitute an inter-disciplinary field encompassing myriad strategies and stakeholders. This in turn means that we need to define a carefully constructed policy mix with just the right instruments for the tasks at hand. And this is where the UBA comes in. We devise concepts aimed at enshrining resource conservation in environmental policy along the entire value chain, beginning with raw material extraction, product design, the commercial and usage phases, and finally recycling and disposal. We also place great emphasis on informing and networking with the general public, business leaders and policymakers, and on the elaboration of ambitious objectives and the instruments needed to achieve them. Developing waste management, which is now primarily a disposal oriented activity, into a raw materials oriented recycling system is also taking on ever growing importance for us.</P>
 </div>

 <div class="container" >
   <h2> COLLECTION </h2>
   <img class="image-inline" style="float: inline-start;" src="https://static.vikaspedia.in/media/images_en/energy/environment/waste-management/bio-medical-waste-management/pubbio8.jpg" alt="" width="233" height="266">
   <p>Waste collection is a part of the process of waste management. It is the transfer of solid waste from the point of use and disposal to the point of treatment or landfill. Waste collection also includes the curbside collection of recyclable materials that technically are not waste, as part of a municipal landfill diversion program.
    Proper solid-waste collection is important for the protection of public health, safety, and environmental quality. It is a labour-intensive activity, accounting for approximately three-quarters of the total cost of solid-waste management. Public employees are often assigned to the task, but sometimes it is more economical for private companies to do the work under contract to the municipality or for private collectors to be paid by individual home owners.
    <br>
    <br>
     A driver and one or two loaders serve each collection vehicle. These are typically trucks of the enclosed, compacting type, with capacities up to 30 cubic metres (40 cubic yards). Loading can be done from the front, rear, or side. Compaction reduces the volume of refuse in the truck to less than half of its loose volume.
The task of selecting an optimal collection route is a complex problem, especially for large and densely populated cities. An optimal route is one that results in the most efficient use of labour and equipment, and selecting such a route requires the application of computer analyses that account for all the many design variables in a large and complex network. Variables include frequency of collection, haulage distance, type of service, and climate. Collection of refuse in rural areas can present a special problem, since the population densities are low, leading to high unit costs
<br>
<a href="" ><button class="btn">Read More </button></a></p>
   
</div>

<div class="transport"> 
    <h2>Transportation</h2>
    
    <img src="https://www.qv21.com/hs-fs/hubfs/solid-waste-transporation-jpg.jpeg?width=393&amp;name=solid-waste-transporation-jpg.jpeg">
    <h3>Types of Solid Waste Transportation</h3>
   <p> 
    Our customers use a variety of trucks, trailers, tanks and heavy-duty equipment to reliably manage their waste hauling operations. These are just a few of the most commonly used waste management vehicles and pieces of equipment.
    <br>
    <br>
    Dump Trucks and Trailers: <br>
    Perhaps the vehicle most commonly associated with the transportation of solid waste, dump trucks are used to collect waste and transport it to transfer stations, or directly to the landfills and recycling plants to be unloaded. The trailers are generally made from either aluminum or steel, and rely on hydraulic systems to unload waste from the trucks.
    <br>
    <br>
    Landfill Tippers: <br>
    Using self-contained hydraulic power units to raise themselves, tippers can be coupled with a truck or trailer to unload solid waste at landfills. Not to be confused with dump trailers, tippers are separate units that connect to the trailers on the trucks. Dump trailers, on the other hand, are heavy duty chassis with open-body tops where the body can be tipped up to unload the waste.
    <br>
    <br>
    Storage and Treatment Tanks: <br>
    Used to store large volumes of waste, tanks are durable and versatile, able to hold most waste types. Waste storage tanks must meet specific regulatory requirements to ensure structural integrity, and they must be well-maintained through inspections and leak tests to prevent corrosion, ruptures or other unit failures.
    <br>
    <br>
    Heavy Equipment: <br>
    Heavy equipment consists of the robust waste loading equipment like steer loaders, wheel loaders and hydraulic excavators, as well as waste handling equipment, such as compactors and rollers, sifting machines, crushers, shredders and wheel dozers. All heavy equipment should be durable and able to handle a range of solid waste material types, from construction waste to municipal waste or hazardous waste.
    <br>
    <br>
    Walking Floor Trailers: <br>
    Also powered by hydraulic systems, walking floor trailers are great for collecting waste from those difficult-to-reach places like tunnels, building interiors and sites located on uneven ground. Once transported to the landfills, the waste can be “walked” off the back of the trailer using moving floor slats, saving you the time and effort of having to use bulky unloading equipment.
    <br>
    <br>
    Bulk Pneumatic Tanker: <br>
    Vacuum-sealed to prevent contamination by moisture, dirt or germs, pneumatic tankers are most often used to transport materials such as food, chemicals or even contaminated soil. <br>  
    <a href="http://cpheeo.gov.in/upload/uploadfiles/files/chap13(1).pdf" target="_blank" ><button class="btn">Read More </button></a> 
</p>
        
</div>
<div class="disposal">
<h2>Disposal</h2>
<p>Methods of waste disposal: <br>
    Non-biodegradable and toxic wastes like radioactive remnants can potentially cause irreparable damage to the environment and human health if not strategically disposed of. Waste disposal has been a matter of concern, the main problem growth in population and industrialization. Here are a few methods of waste disposal.
    <br>
    <br>
    Landfills: <br> Throwing daily waste/garbage in the landfills is the most popularly used method of waste disposal used today. This process of waste disposal focuses attention on burying the waste in the land.
    <br>
    <br>
    Recycling: Recycling is the process of converting waste products into new products to prevent energy usage and consumption of fresh raw materials. Recycling is to reduce energy usage, reduce the volume of landfills, reduce air and water pollution, reduce greenhouse gas emissions, and preserve natural resources for future use.
    <br>
    <br>
    Composting: <br>
    
    Composting is an easy and natural bio-degradation process that takes organic wastes i.e. remains of plants and garden and kitchen waste and turns into nutrient-rich food for your plants.
    <br>
    <br>
    Incineration: <br>
    
    Incineration involves the combustion of waste materials. With this method, the waste material is heated to very high temperatures and is converted into materials such as heat, gas, steam, and ash.
    <br>
    <a href="https://www.slideshare.net/pramodkumarsikarawar/disposal-of-waste-66501461?next_slideshow=66501461" target="_blank" ><button class="btn">Read More </button></a> </p>
</div>

<div class="segregation">
    <h2>Segregation</h2>
    <p>Segregation refers to the basic separation of different categories of waste generated at source and thereby reducing the risks as well as cost of handling and disposal. Segregation is the most crucial step in bio-medical waste management. Effective segregation alone can ensure effective biomedical waste management.
     <br>
     <br>
        
        How does segregation help?
        Segregation reduces the amount of waste needs special handling and treatment
        Effective segregation process prevents the mixture of medical waste like sharps with the general municipal waste.
        Prevents illegally reuse of certain components of medical waste like used syringes, needles and other plastics.
        Provides an opportunity for recycling certain components of medical waste like plastics after proper and thorough disinfection.
        <br>
        <br> 
        
        Recycled plastic material can be used for non-food grade applications Of the general waste, the biodegradable waste can be composted within the hospital premises and can be used for gardening purposes.
        Recycling is a good environmental practice, which can also double as a revenue generating activity.
        Reduces the cost of treatment and disposal (80 per cent of a hospital’s waste is general waste, which does not require special treatment, provided it is not contaminated with other infectious waste)</p>
</div>


</body>
<%- include('partials/footer') %>
