<%-include('partials/header2')%>



    <!-- =======  F.A.Q Section ======= -->
    <div class="c" style="height:60px"></div>
    <div class="container"  style="margin-top: 20px; background-color: #F6F7FD;">

  
   



      <div class="row">

        
<div class="col-lg-2"></div>
<div class="col-lg-4 text-center  col-md-6 mx-2 my-2 text-center" style="outline-style: solid; outline-color:#019961 ;">
  <div class="speaker text-center" style="border-color: black;" data-aos="fade-up" data-aos-delay="200">
    <img src="/img/paper/8.jpg" alt="Speaker 2" style="margin-top: 20px;" class="img-fluid imageResizer3 text-center">
  <li class="text-center" style="color: #019961 ; "> Confirmed</li>

   
  </div>
</div>


<div class="col-lg-4 text-center  col-md-6 mx-2 my-2 text-center" style="outline-style: solid; outline-color:#019961 ;">
  <div class="speaker text-center" style="border-color: black;" data-aos="fade-up" data-aos-delay="200">
    <img src="/img/paper/9.jpg" alt="Speaker 2" style="margin-top: 20px;" class="img-fluid imageResizer3 text-center">
  <li class="text-center" style="color: #019961 ; "> Confirmed</li>

   
  </div>
</div>

          
            
            <div class="col-lg-1"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-center  col-md-6 mx-2 my-2 text-center" style="outline-style: solid; outline-color:#019961 ;">
              <div class="speaker text-center" style="border-color: black;" data-aos="fade-up" data-aos-delay="200">
                <img src="/img/paper/7.jpg" alt="Speaker 2" style="margin-top: 20px;" class="img-fluid imageResizer3 text-center">
              <li class="text-center" style="color: #019961 ; "> Confirmed</li>
            
               
              </div>
            </div>


          
           
            <div class="col-lg-4 text-center  col-md-6 mx-2 my-2 text-center" style="outline-style: solid; outline-color:#019961 ;">
              <div class="speaker text-center" style="border-color: black;" data-aos="fade-up" data-aos-delay="200">
                <img src="/img/paper/10.jpg" alt="Speaker 2" style="margin-top: 20px;"  class="img-fluid imageResizer3 text-center">
              <li class="text-center" style="color: #019961 ; "> Confirmed</li>
            
               
              </div>
            </div>
           
<!-- 
            <p class="text-center" style="color:darkorchid;"> <span class="text-center" style="color: red;">Yet to be confirmed</span> <br> The peer-reviewed research papers will be published in SCOPUS/SCI indexed Journals.</p>
            <p class="text-center" style="color:darkorchid;"> <span class="text-center" style="color: red;">Yet to be confirmed</span> <br> The peer-reviewed research papers will be published in SCOPUS/SCI indexed Journals.</p> -->
          
      </div>
  
    <section id="faq" >

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2> FAQ<span style="text-transform: lowercase;">s</span></h2>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-9">
  
              <ul class="faq-list" style="list-style-type: none;">
  
                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1"> How can I submit my paper for conference Proceedings?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                      <p>Authors should submit their full papers for conference proceedings through the Online Journal System (OJS). Authors are provided with three weeks after the conclusion of the conference to submit full papers. The receipt of paper submission will be acknowledged via e-mail within three working days. In the event that you do not receive acknowledgment of your paper within three working days, you are requested to immediately contact the organizing committee.
** Submission guidelines will be sent via an email after the conference</p>
                    </div>
                  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq2"> 
        <!-- ------ --> How can I submit my paper to supporting journals?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->
       If authors wish to submit papers to supporting journals, they are advised to contact the publication team and communicate journal preference. Afterward, the team will provide you necessary guidelines to make the submission.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq3"> 
        <!-- ------ --> 
 What will happen if the full paper deadline is missed/ cannot submit on the deadline?

        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->
       If you find it difficult to send the full paper by the stipulated time you are advised to request for a deadline extension in advance (The decision will be taken by the publication team).
If you miss the deadline and still interested in submitting the paper after a while, publication team will consider the paper for next scheduled issue of conference proceedings (this can be a second issue of the next year issue)

      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq6"> 
        <!-- ------ --> Do I need to physically present at the conference in order to get the publication opportunity?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->
       No, even the authors who register under online video and virtual categories can send their full papers for  publication.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq4"> 
        <!-- ------ --> Is there a template available for full papers?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->Yes. All papers must be formatted according to the full paper template that can be found in the paper guideline page of conference websites. This template applies for papers sent to conference proceedings.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq5"> 
        <!-- ------ --> What are the criteria for selecting conference papers for journal publication?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->Papers which match aims, scope and guidelines of journals will be considered for double-blind peer review by journals. Having written the paper following academic standards and with an international appeal will positively affect selection. The decision of the journal’s editorial board will be final. If the paper is requested for revisions you may have to revise and send it back to the journal.

      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq7"> 
        <!-- ------ --> Where are the conference proceedings/journals indexed?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq7" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->All accepted full papers sent for proceedings will be published electronically with ISSN in proceedings with the DOI number otherwise in a supportive journal in the conference. We are submitting conference proceedings for possible indexing in renowned indexing sources. Refer journals included in the conference websites to know indexing.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq8"> 
        <!-- ------ -->When will the conference proceedings be published online?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq8" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->Tentatively, it will take three months after the full paper submission deadline to release the 1<sup>st</sup> issue of conference proceedings (This might differ depending on the number of papers we receive and extension of deadlines if any). Number of issues will also depend on the papers that will be received for publication.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq9"> 
        <!-- ------ --> How long  will it take for journal publications?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq9" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->Publication processes in journals are lengthier than that of the conference proceedings. On average, it will take 4-6 months to receive the 1<sup>st</sup> decision from the journal. Depending on the 1<sup>st</sup> decision, the publication time will vary.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq10"> 
        <!-- ------ --> What will happen if the journals reject papers submitted for possible publication?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq10" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->If journals reject your full paper, we will consider the paper for conference proceedings after administering double-blind review process.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq11"> 
        <!-- ------ --> Which document format  should I follow when sending the abstract or full paper?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq11" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->The abstract & full manuscript must be submitted as a MS Word document in .doc format (not as a PDF format).
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq12"> 
        <!-- ------ --> Do we need to pay an extra amount for publication?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq12" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->No. Conference proceeding publication is complimentary for all conference participants. However, some journals may charge a fee for open access publication. Please refer to the particular journal website for more details.
      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq13"> 
        <!-- ------ --> Can a paper be published both in conference proceedings and supporting journals?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq13" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->No. As per the generally accepted publication ethics, the dual publication is not possible. Hence, if you publish in a journal the same paper cannot be included in proceedings vice versa.
 

      </p>
    </div>
  </li>
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq14"> 
        <!-- ------ --> Whom should I contact to get more details regarding the publication?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq14" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->You can send any of your publication related inquiries to mail id. We are ready to answer  all your questions and assist you.
      </p>
    </div>
  </li>

<!-- ==================================================================================================== -->

              </ul>
  <h3></h3>
            </div>
          </div>
  
        </div>
  
      </section><!-- End  F.A.Q Section -->


      <section id="faq">

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Partnership</h2>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-9">
  
            <ul class="faq-list"  style="list-style-type: none;">
<!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq15"> 
        <!-- ------ --> Do I have an opportunity to become a member of the scientific panel/Conference chair/keynote speaker/plenary speaker of the conference?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq15" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->If you are interested, please send your proposal to given emails with your updated CV.
       <span style="color: #019961;">organicelectronicssoc.india@gmail.com</span>
      </p>
    </div>
  </li>

  <!-- ==================================================================================================== -->
<li>
    <div data-bs-toggle="collapse" class="collapsed question" href="#faq16"> 
        <!-- ------ --> Does any University/Institute/Organization have an opportunity to collaborate with the conference as a hosting partner or an academic partner?
        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
    <div id="faq16" class="collapse" data-bs-parent=".faq-list">
      <p>
       <!-- ------ -->If you are interested to join with us please send your proposal to any of below emails with the university/Institute/Organization website link.
       <li><span style="font-weight: bold;">For Academic/ Hosting partner – </span>Prof. Geeta Durga <br>
       <span style="font-weight: bold;">Mobile – </span>+91  9811388026 <br>
       <span style="font-weight: bold;">email – </span>geeta.durga@sharda.ac.in</li>
      

       <li>  <span style="font-weight: bold;"> Sponsorships/ Partnership  – </span>Prof. Pramod Kumar Singh<br>
        <span style="font-weight: bold;"> Mobile – </span>+91 9971729840   <br>
        <span style="font-weight: bold;">email  – </span>  pramodkumar.singh@sharda.ac.in <br>


       </li>
      </p>
    </div>
  </li>
            </ul>
  <h3></h3>
            </div>
          </div>
  
        </div>

      </section><!-- End  F.A.Q Section -->

    </div>
 

<%-include('partials/footer')%>
