<%- include('partials/header2') %>

      </div>
    </div>

    <div class="col-sm-4 col-lg-8 col-md-6 gig">
      <div class=" g0 cen0">
        <div class="card-body">
         
          <p style="text-align: center; margin: auto;font-family: ubuntu; font-weight: 900; ">OR</p>
        <div class="col-sm-8 col-lg-12 col-md-10 gig ">
          <div class=" cen0 "><form action="/login">
            <div class="d-grid gap-2">
              <button  style="background-color: #019961;" class="btn btn-primary btn-block "  type="submit" style="font-family: Montserrat;border:none;outline: none; ">Login</button>
            </div>

           
         
          </div>
          </div>
        </div>
         
        </div>
      </div>
     
    </div>
    
 

  
  </div>


</form>




</div>
<%- include('partials/footer') %>
