<%- include('partials/header2') %>

<div class="" style="height: 200px;"></div>
<div class="jumbotron jumbotron-fluid su">
  <div class="container">
    <h1 class="display-4" style="text-align: center;"><i class="fas fa-check"></i>  Congrats!! </h1>
    <p class="lead" style="text-align: center;"> You have taken a Step Toward Greener Society!!</p>
    <div class="" style="text-align: center;">
  <a  href="/typesofwaste" class="btn btnss but" type="submit" style=" width: 50%; outline: none; font-family: ubuntu;">Back to Home</a></div>
  </form>
    
  </div>
</div>


<%- include('partials/footer') %>